.component {
    color: #8BABBF;
    text-align: center;
}
.component .fileinput-button {
    top: 20px;
    left: 40px;
    position: absolute;
}
.white-image, .custom-white-image {
    display: none;
}
#slider-vertical {
    float: right;
    height: 100%;
}
#slider-vertical, #slider-vertical span {
    cursor: pointer;
}
.icon-rotate {
    margin-left: -6px;
    position: absolute;
    margin-top: -30px;
}

.change-color-product-block {
    position: absolute;
    bottom: 15px;
    left: 15px;
    display: none;
}
.preview-color {
    display: none;
}
.change-color-product-block img {
    bottom: 60px;
    height: 50px;
}
.change-color-product {
    height: 100%;
    cursor: pointer;
}   
